$titleFont: 'Comfortaa', cursive;
$mainFont: 'Roboto Condensed', sans-serif;
$signature: 'Leckerli One', cursive;

$background: #0c0d0e;
$darkPurple: #17002F;
$medPurple: #510094;
$litPurple: #A747D2;
$teal: #1b57cd;
$yellow: #F9DD5A;
$white: #F6E8EA;
